.background {
    padding: 160px;
    width: auto;
    height: 100vh;
    background: url(../assets/Images/hero-section.jpg) center center/cover;
}
.text_shadow {
    text-shadow: 1px 1px 2px rgb(8, 5, 6);
}
.text_shadow2 {
    text-shadow: 1px 1px 2px rgb(14, 67, 18);
}

.cta-button:hover {
    background-color: #2b5e40;
}
